.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#detail-movie-page{
  padding: 20px;
}

#comment{
  display: flex;
  padding-top: 35px;
}
#detail-movie-container{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#movieContent{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-end;
  align-items: flex-start;
  padding-left: 10px;
}
#moviePoster-single{
  display: flex;
}

#moviePoster{
  width: 300px;
  height: 445px;
}
#moviePoster:hover{
  scale: 1.1;
}

#navbar, #Home, #Login{
display: flex;
}

#search-box {
  display: flex;
justify-content: flex-end;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
